.task {
  display: flex;
  flex-wrap: wrap;

  &_list {
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 15%;
    border-width: 5px;
    border-color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;

    &_user {
      font-weight: bold;
      font-size: larger;
      text-decoration-line: underline;
      margin: 15px;
      text-align: center;
    }

    &_id {
      font-size: larger;
      margin: 5px;
    }

    &_title {
      font-size: larger;
      margin: 5px;
    }
  }
}

.completed {
  background-color: lightgreen;
}

.uncompleted {
  background-color: lightcoral;
}
