/* AppComponent's private CSS styles */
h1 {
  
  margin: 1em;

}
nav{
  background-color: rgb(203, 212, 218);
  margin: 1em;
  border-radius: 40px;
  border-color: black;
  
}

nav a {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 40px;
  margin-right: 4px;
  margin-left: 4px;
  // width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a:active {
  background-color: black;
}

.heroSearch{
  margin: 1em;
}

.messages{
  margin: 1em;
}