/* AppComponent's private CSS styles */
.app {
  &_title {
    margin: 30px;
    text-align: center;
  }

  &_nav {
    background-color: var(--color-3-grey);
    margin: 30px;
    border-radius: 40px;

    &_a {
      text-align: center;
      font-size: large;
      font-weight: bold;
      padding: 1rem;
      text-decoration: none;
      margin-top: 10px;
      display: inline-block;
      background-color: var(--color-3-lightgrey);
      color: var(--color-3-grey);
      border-radius: 40px;
      margin-right: 4px;
      margin-left: 4px;
      min-width: 70px;
      margin: 0.5rem auto;
      box-sizing: border-box;

      &:hover {
        color: var(--color-3-white);
        background-color: var(--color-1);
      }

      &:active {
        background-color: var(--color-1-dark);
      }
    }
  }

  &_messages {
    margin: 30px;
  }
}
