<h2>My Heroes</h2>
<div>
  <div>
    <form id="heroesCreateForm" name="heroesCreateForm">
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" name="new-hero" [(ngModel)]="newHero.name" />
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="onClickAddHero()">
      Add hero
    </button>
  </form>
  </div>

  <div>
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
          <!-- <span *ngIf="hero.typeId"> - {{heroTypeNames[hero.typeId]}}</span> -->
          <app-hero-type [typeId]="hero.typeId"></app-hero-type>
        </a>
        <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
      </li>
    </ul>
  </div>

  <div>
    <ul class="users">
      <li *ngFor="let user of users">
        <!-- <app-label [(text)]="user.name"> </app-label> -->
        <span>{{user?.email}}</span>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>

  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>