<div class="heroes-page">

  <div class="heroes-page_myHeroes">
    <h2 class="row heroes-page_myHeroes_title">My Heroes</h2>
    <div class="row heroes-page_myHeroes_addHero">
      <p-button class="heroes-page_myHeroes_addHero_pbutton" (click)="showModalDialog()" icon="pi pi-external link"
        label="Add Hero"></p-button>
      <p-dialog class="heroes-page_myHeroes_addHero_dialog" header="Add Hero" [(visible)]="displayModal" [modal]="true"
        [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
        <form class="heroes-page_myHeroes_addHero_dialog_form" #createHeroForm="ngForm" id="heroesCreateForm"
          name="heroesCreateForm" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <label class="heroes-page_myHeroes_addHero_dialog_form_label" for="new-hero">Hero name: </label>
          <input class="heroes-page_myHeroes_addHero_dialog_form_input" type="text" id="new-hero"
            formControlName="name">
          <button type="submit" class="heroes-page_myHeroes_addHero_dialog_form_addButton"
            [disabled]="checkoutForm.invalid">Add Hero</button>
        </form>
        <ng-template class="heroes-page_myHeroes_addHero_dialog_template" pTemplate="footer">
          <p-button class="heroes-page_myHeroes_addHero_dialog_template_pbutton" icon="pi pi-check"
            (click)="displayModal=false; " label="Cancelar" styleClass="p-button-text">
          </p-button>
        </ng-template>
      </p-dialog>
    </div>
  </div>

  <div class="row heroes-page_container">
    <div class="col-12 col-md-6 col-lg-3 heroes-page_container_hero" *ngFor="let hero of heroes">
      <a class="heroes-page_container_hero_items" routerLink="/detail/{{hero.id}}">
        <span class="heroes-page_container_hero_items_id">{{hero.id}}</span>
        <span class="heroes-page_container_hero_items_name">{{hero.name}}</span>
        <span *ngIf="hero.typeId"> - <app-hero-type [typeId]="hero.typeId"></app-hero-type></span>
      </a>
      <button type="button" class="heroes-page_container_hero_delete" title="delete hero"
        (click)="delete(hero)">X</button>
    </div>
  </div>

  <div class="d-flex justify-content-center alig-items-center heroes-page_table">
    <p-table [value]="heroes" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"  [resizableColumns]="true" styleClass="p-datatable-gridlines"
      [tableStyle]="{'min-width': '50rem'}"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,20]">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
          <th pResizableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pResizableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td>
          <td>
            <app-hero-type [typeId]="hero.typeId"></app-hero-type>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>



  <!-- <div>
      <ul class="users">
        <li *ngFor="let user of users">
          <span>{{user?.email}}</span>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="selectedHero" *ngIf="selectedHero">
    <h2 class="selectedHero_title">{{selectedHero.name | uppercase}} Details</h2>
    <div class="selectedHero_details">
      <span class="selectedHero_details_id">Id: {{selectedHero.id}} </span>
      <label class="selectedHero_details_label" for="hero-name">Hero name: </label>
      <input class="selectedHero_details_name" id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
  </div>
</div>