/* HeroDetailComponent's private CSS styles */
.heroDetail {
  margin: 40px;

  &_title {
    font-weight: bold;
    color: var(--color-3-black);
  }

  &_info {
    &_id {
      font-size: 20px;
    }

    &_label {
      color: var(--color-3-grey);
      font-weight: bold;
      font-size: 20px;
    }

    &_name {
      font-size: 20px;
      padding: 0.5rem;
      margin-left: 10px;
      border-radius: 40px;
    }
  }

  &_button {
    &:disabled {
      background-color: var(--color-3-lightgrey);
      color: var(--color-3-grey);
      cursor: auto;
    }

    &_back {
      margin-top: 20px;
      background-color: var(--color-3-lightgrey);
      padding: 1rem;
      border-radius: 4px;
      font-size: 1rem;
      margin-right: 10px;

      &:hover{
        background-color: var(--color-3-lightgrey);
        color: var(--color-3-black);
      }

      &:active{
        background-color: var(--color-3-grey);
        color: var(--color-3-white);
      }
    }

    &_save {
      margin-top: 20px;
      background-color: var(--color-3-lightgrey);
      padding: 1rem;
      border-radius: 4px;
      font-size: 1rem;
      margin-right: 10px;

      &:hover{
        background-color: var(--color-5);
        color: var(--color-3-black);
      }

      &:active{
        background-color: var(--color-5-light);
        color: var(--color-3-black);
      }
    }
  }
}
