.dashboard {
  &_title {
    &_text {
      margin-top: 30px;
      font-weight: bold;
      border-radius: 40px;
      text-align: center;
    }
  }

  &_heroesMenu {
    padding: 0;
    margin: auto;
    max-width: 1000px;

    &_items {
      background-color: #3f525c;
      padding: 1rem;
      font-size: 1.2rem;
      text-decoration: none;
      display: inline-block;
      color: #fff;
      text-align: center;
      width: 100%;
      min-width: 70px;
      margin: 0.5rem auto;
      box-sizing: border-box;
      border-radius: 40px;

      &:hover {
        background-color: var(--color-3-black);
      }
    }
  }
}

@media (min-width: 600px) {
  .dashboard {
    &_heroesMenu {
      &_items {
        width: 18%;
        box-sizing: content-box;
      }
    }
  }
}
