<h2>My Heroes</h2>
<div>
  <div>
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="users">
      <li *ngFor="let user of users">
        <!-- <app-label [(text)]="user.name"> </app-label> -->
        <span>{{user?.email}}</span>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>