/* HeroSearch private styles */
.search-component {
  margin: 20px;

  &_label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &_input {
    padding: 0.5rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    display: block;
    border-radius: 40px;

    &:focus {
      outline: var(--color-4) auto 1px;
    }
  }

  &_search-result {
    margin-top: 0;
    padding-left: 0;

    &_list {
      list-style-type: none;

      &_item {
        border-bottom: 1px solid var(--color-3-grey);
        border-left: 1px solid var(--color-3-grey);
        border-right: 1px solid var(--color-3-grey);
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 0.5rem;
        box-sizing: border-box;
        text-decoration: none;
        color:var(--color-3-black);

        &:hover {
          background-color: var(--color-6);
          color: var(--color-3-white);
        }
      }
    }
  }
}
